header { 
    display:block;
    margin-bottom: 1px;
}

nav {
    display:block;
    width: 20%;
    float: left;
}

section {
    display:block;
    width: 70%; 
    float: right; 
}

body {
    background-color: #BBAA99;
    color: #7711CC;
    font-size: 16px;
    font-family: stoke, "Lucida Bright", liberation;
}

a {
    text-decoration: none;
    color: #7711CC;
}

ol, ul {
    line-height: 200%;
}

.ender {
    float: right;
    text-align: right;
    line-height: 140%;
    font-size: 14px;
    font-family: Karla, Verdana, Ubuntu;
}

.imgLogo {
    border-bottom: 3px solid #402020;
    margin-bottom: 6px;
    padding-bottom: 15px;
    max-width: 400px;
}

.apres {
    text-align: center;
    font-size: 16px;
}

nav ul {
    color: #332277;
    line-height: 230%;
    margin-top: 40px;
    list-style-type: square;
}

.titulo {
    text-align: center;
}

.listaComp {
    width: 480px;
    color: #000000;
    background-color: #EEDDCC;
    padding: 10px 50px 10px 50px; 
    /*PROFESSOR, NOTEI QUE OS VALORES DEVERIAM SER ESSES PARA FICAR SIMÉTRICO COMO NA IMAGEM MODELO DO PDF. 
    IMAGINO QUE DEVE TER HAVIDO UM ENGANO E O PDF DEVERIA ESTAR -> padding: 10px 50px;*/
    border: 2px solid #000000;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    list-style-type: numeric;
    white-space: nowrap;
}

.listaComp ul {
    list-style-type: square;
    color: #000000;
}

.preco {
    color: #CC0000;
}

.tabPiso {
    border: 1px solid #888888;
    border-collapse: collapse;
    margin-top: 6px;
    text-align: center;
    font-size: 15px;
    background-color: #EEDDCC;
    color: #000000;
    font-family: Karla, Verdana, Ubuntu;
    margin-left: auto;
    margin-right: auto;
}

.tabPiso th {
    border: 2px solid #888888;
    padding: 6px 12px 6px 12px;
}

.tabPiso td {
    border: 2px solid #000066;
    padding: 6px 12px 6px 12px;
}

.Título {
    color: #FFFFFF;
    background-color: #442222;
    vertical-align: middle;
}

.linTH {
    color: #FFFFFF;
    background-color: #884444;
    vertical-align: middle;
}

.colTH {
    color: #FFFFFF;
    background-color: #442222;
    text-align: left;
}

.preco {
    color: #CC0000;
}

.imgCel {
    background-color: #FFFFFF;
}

.imgCel img {
    width: 60px;
    height: 60px;
}

.FormBox {
    width: 540px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    color: #000000;
    background-color: #EEDDCC;
    border: 3px solid #000055;
    font-size: 16px;
    font-family: Karla, Verdana, Ubuntu;
}

.FSLinhaInteira {
    width: 94%;
    text-align: left;
}

.FSLinha {
    width: 96%;
    display: block;
    margin: 0;
}

.FSEsq {
    display: inline;
    float: left;
    margin: 0;
}

.FSDir {
    display: inline;
    float: right;
    margin: 0;
}


.LinhaForm {
    margin: 0;
    height: 30px;
    padding: 6px 3px 0px 3px;
}

.colPerc25 {
    padding-top: 10px;
    float: left;
    height: 30px;
    width: 25%;
}

.colPerc40 {
    padding-top: 10px;
    float: right;
    height: 30px;
    width: 40%;
}

.colPerc50 {
    padding-top: 10px;
    float: left;
    vertical-align: middle;
    height: 30px;
    width: 50%;
}

.colPerc60 {
    padding-top: 10px;
    float: left;
    height: 30px;
    width: 60%;
}

.selecPerc100Cel {
    width: 100%;
}

.elemPosDir {
    float: right;
}

.elemPosEsq {
    float: left;
}

.botoes {
    text-align: right;
    margin: 20px 10px 0px 10px;
}

.InpBoxPeq { /*PROFESSOR, USANDO O .InpBoxMed INPUTS DE METROS E CAIXAS, NÃO FICAVA CONFORME O MODELO DO PDF, PORTANTO FOI CRIADO O InpBoxPeq DE FORMA A ATENDER AO MODELO EM PDF*/
    width: 60px;
}
    
.InpBoxMed {
    width: 80px;
}

.numDD {
    width: 35px;
}

#boxPedidos .LinhaForm {
    height: 100px;
}

.lisPedArea { /*PROFESSOR, CRIANDO COMO #lisPedArea .LinhaForm, NÃO FICAVA CONFORME O MODELO DO PDF, PORTANTO FOI CRIADO COMO .lisPedArea DE FORMA A ATENDER AO MODELO EM PDF*/
    height: 90px;
    width: 100%;
}

.colPri {
    width: 90px;
    float: left;
    display: block;
}

.colLabCrd {
    width: 270px;
    height: 45px;
    text-align: left;
    float: left;
}

.colValTot {
    width: 220px;
    text-align: left;
    float: left;
    display: block;
}

.listaCompras {
    width: 190px;
    height: 200px;
    margin-top: 8px;
    margin-bottom: 10px;
    margin-left: 10px;
    float: right;
}

.InpBoxGnd {
    width: 380px;
}

.numQD {
    width: 50px;
}

.inpNCC {
    width: 130px;
}

.inpTelef {
    width: 90px;
}

.inpEnder {
    width: 180px;
    height: 60px;
}